*{
    padding: 0;
    margin: 0;
}
body{
    align-items: center;
}
header{
    background-color: rgba(0, 68, 255, 0.658);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: whitesmoke;
}

#bibliografia{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 20px;
}

article{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 30px;
}
footer{
    background-color: rgb(1, 94, 94);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: white;
    font-size: 29px;
    padding: 20px;
    text-align: right;
}

#bar{
    text-align: center;
    align-items: center;
    margin: 0px;
    border: 1px black;
    
}

div{
    text-align: center;
    align-items: center;
    margin: 0;
}